body {
  overflow: hidden; /* Hide scrollbars */
  color: white;
  background-color: black;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#UI,#camtxt,#amtime,#nighttime,#title,#newgame,#continue,#version,#select,#credits,#continuenight,
#warning,#menutime,#menunight,#survived,#survived5,#survived6,#starnumber,#exacttime,#loadprogress{
    position: absolute;
    width: 30%;
    bottom: 7%;
    left: 5%; 
    font-size: 2vh;
    z-index: 9;
    font-family: consolas;
    filter: drop-shadow(0 0 1rem black);
}

#loadprogress{
    bottom: 2%;
    left: 77%;
    font-size: 2vh;
    z-index: 0;
    display: none;
}

#amtime{
    bottom: 81%;
    left: 64.5%;
    font-size: 6vh;
    text-align: right;
}

#nighttime{
    bottom: 81%;
    left: 64.5%;
    text-align: right;
}

#exacttime{
    bottom: 78%;
    left: 64.5%;
    text-align: right;
}

#game{
    display: none;
    transition: opacity 3s;
}

#title{
    width: 10%;
    bottom: 54%;
    left: 13%;
    font-size: 7vh;
    z-index: 0;
}

#newgame,#continue,#select{
    width: 15%;
    bottom: 40%;
    left: 13%;
    font-size: 6vh;
    z-index: 0;
}

#continue{
    bottom: 30%;
}

#select{
    left: 8%;
    pointer-events: none;
}

#version,#credits,#continuenight{
    bottom: -2%;
    left: 1%;
    font-size: 3.5vh;
    z-index: 0;
}

#continuenight{
    left: 13%;
    bottom: 27%;
    display: none;
}

#credits{
    width: 50%;
    left: 48%;
    text-align: right;
}

#menu{
    display: none;
    transition: opacity 3s;
}

#warning{
    text-align: center;
    width: 25%;
    left: 38%;
    bottom: 50%;
    transition: opacity 3s;
}

#loadscreen{
    display: none;
    position: absolute;
    top: 92%;
    width: 3%;
    left: 94%;
}

#menutime,#menunight,#survived,#survived5,#survived6{
    display: none;
    transition: opacity 3s;
    bottom: 60%;
    left: 35%;
    font-size: 6vh;
    text-align: center;
}

#menunight{
    bottom: 50%;
}

#myVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#skipintro,#mutecall{
    position: absolute;
    top: 92%;
    left: 86%;
    width: 12%;
    z-index: 8;
    opacity: 50%;
    display: none;
}

#skipintro:hover,#mutecall:hover{
    opacity: 100%;
}

#starpng{
    position: absolute;
    display: none;
    top: 11%;
    left: 36%;
    width: 5%;
}

#starnumber{
    display: none;
    width: 4%;
    bottom: 78%;
    left: 36.5%;
    font-size: 5vh;
    z-index: 1;
    text-align: center;
}

#detach-button-host {
    display: none !important;
}

.txt:hover {
    text-decoration: underline;
}

#valve,#valvehitbox{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    z-index: 2;
}

#valvehitbox{
    height: 53%;
    z-index: 11;
}

#room1bg,#room2bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#room1waterbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.shadow {
  position: absolute;
  width: 200vw;
  height: 200vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: radial-gradient(circle at center, transparent, #000 80%);
  z-index: 10;
}

#lefttrigger{
    position: absolute;
    width: 13%;
    height: 100%;
    z-index: 11;
    top: 0%;
    left: 0%;
}

#righttrigger{
    position: absolute;
    width: 13%;
    height: 100%;
    z-index: 11;
    top: 00%;
    right: 0%;
}

#toptrigger{
    position: absolute;
    width: 74%;
    height: 13%;
    z-index: 11;
    top: 0%;
    right: 13%; 
}

#room1,#room2{
    display: none;
    transition: opacity 0.4s;
    opacity: 0%;
}

#room2hatch{
    position: absolute;
    width: 25%;
    top: 45.8%;
    left: 41.15%;
    z-index: 1;
}

#room2hatchcover{
    position: absolute;
    width: 31.4%;
    top: 0%;
    left: 38.6%;
    z-index: 2;
}

#room2light{
    position: absolute;
    width: 5.5%;
    top: 30.5%;
    left: 45.9%;
    z-index: 2;
}