body {
  overflow: hidden; /* Hide scrollbars */
  color: white;
  background-color: black;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#officemovetrigger1,#officemovetrigger2,#officemovetrigger11,#officemovetrigger111,#officemovetrigger22,#officemovetrigger222{
    position: absolute;
    background-color: transparent;
    width: 12%;
    height: 100%;
    top: 0;
    z-index: 1;
}

#officemovetrigger11{
    width: 13%;
    z-index: 2;
    left: 15%;
}

#officemovetrigger111{
    width: 15%;
    z-index: 3;
    left: 0;
}

#officemovetrigger1{
    left: 28%;
}

#officemovetrigger2{
    left: default;
    right: 27%;
}

#officemovetrigger22{
    width: 27%;
    z-index: 2;
    right: 0;
}

#officemovetrigger222{
    width: 15%;
    z-index: 3;
    right: 0;
}

#office{
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0;
}

#officebg,#officelights1,#officelights2{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#officelights1,#officelights2{
    z-index: -3;
    display: none;
}

#leftbutton,#leftlight{
    position: absolute;
    width: 4%;
    left: -0.5%;
    top: 42%;
    z-index: -1;
}

#rightbutton,#rightlight{
    position: absolute;
    width: 4%;
    left: 95%;
    top: 42%;
    z-index: -1;
}

#leftdoor{
    position: absolute;
    width: 15%;
    left: -1%;
    top: -22%;
    z-index: -2;
}

#rightdoor{
    position: absolute;
    width: 15%;
    left: 83%;
    top: -12%;
    z-index: -2;
}

#buttontrigger1,#buttontrigger2{
    position: absolute;
    left: 0.5%;
    top: 48%;
    width: 2%;
    height: 7%;
    z-index: 4;
}

#buttontrigger2{
    left: 96%;
}

#lighttrigger1,#lighttrigger2{
    position: absolute;
    left: 0.5%;
    top: 57%;
    width: 2%;
    height: 7%;
    z-index: 4;
}

#lighttrigger2{
    left: 96%;
}

#cameratrigger{
    position: absolute;
    width: 50%;
    height: 15%;
    bottom: 0;
    left: 25%;
    z-index: 2;
}

#camerabutton{
    position: absolute;
    pointer-events: none;
    display: none;
    width: 50%;
    bottom: 1%;
    left: 25%;
    z-index: 2;
}

#camerabg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 2;
}

#UI,#camtxt,#amtime,#nighttime,#title,#newgame,#continue,#version,#select,#credits,#continuenight,
#warning,#menutime,#menunight,#survived,#survived5,#survived6,#starnumber,#exacttime,#loadprogress,
#continuetime,#crnttime,#prevtime,#crnttimedesc,#prevtimedesc{
    position: absolute;
    width: 30%;
    bottom: 7%;
    left: 5%; 
    font-size: 2vh;
    z-index: 9;
    font-family: consolas;
    filter: drop-shadow(0 0 1rem black);
}

#crnttime{
    width: 46%;
    bottom: 52%;
    left: 26%;
    font-size: 8vh;
    animation: blink 0.3s infinite;
    text-align: center;
}
#prevtime{
    width: 30%;
    bottom: 13%;
    left: 34%;
    font-size: 5vh;
    text-align: center;
}
#crnttimedesc{
    width: 73%;
    bottom: 69%;
    left: 14%;
    font-size: 5vh;
    text-align: center;
}
#prevtimedesc{
    width: 30%;
    bottom: 23%;
    left: 34%;
    font-size: 3vh;
    text-align: center;
}

#loadprogress{
    bottom: 2%;
    left: 77%;
    font-size: 2vh;
    z-index: 0;
    display: none;
}

#debug{
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 100;
}

#cam,#static,#brokenoverlay{
    position: absolute;
    width: 107%;
    top: 7%;
    left: 4%;
    z-index: 1;
    pointer-events: none;
}

#cam{
    position: static;
    visibility: hidden;
    width: 114.5%;
    filter: grayscale(84%) brightness(263%) contrast(229%);
}

#camchar{
    transition: left 10s;
    position: absolute;
    width: 101%;
    left: 10%;
    top: 6%;
}

#static,#brokenoverlay{
    z-index: 4;
    opacity: 70%;
    width: 91.5%;
    height: 84.5%;
    top: 8%;
}

#brokenoverlay{
    z-index: 1;
    display: none;
    opacity: 70%;
}

#map{
    position: absolute;
    z-index: 2;
    width: 30%;
    top: 44%;
    left: 64%;
    pointer-events: none;
}

#cam1a,#cam1b,#cam1c,#cam2a,#cam2b,#cam3,#cam4a,#cam4b,#cam5,#cam6,#cam7{
    position: absolute;
    width: 3%;
    z-index: 3;
    filter: grayscale(1);
}

#cam1a{
    left: 72%;
    top: 42%;
    filter: grayscale(0);
    display: none;
}

#cam1b{
    left: 77.5%;
    top: 60%;
}

#cam1c{
    left: 69.7%;
    top: 69%;
}

#cam2a{
    left: 72%;
    top: 78%;
    display: none;
}

#cam2b{
    left: 72%;
    top: 84%;
    display: none;
}

#cam3{
    left: 67%;
    top: 74%;
    display: none;
}

#cam4a{
    left: 80%;
    top: 78%;
    display: none;
}

#cam4b{
    left: 80%;
    top: 84%;
    display: none;
}

#cam5{
    left: 63%;
    top: 58%;
}

#cam6{
    left: 90.4%;
    top: 47%;
}

#cam7{
    left: 89%;
    top: 54%;
    display: none;
}

#camtxt{
    bottom: 58%;
    left: 63%;
    font-size: 5vh;
    z-index: 2;
}

#amtime{
    bottom: 81%;
    left: 64.5%;
    font-size: 6vh;
    text-align: right;
}

#nighttime{
    bottom: 81%;
    left: 64.5%;
    text-align: right;
}

#exacttime{
    bottom: 78%;
    left: 64.5%;
    text-align: right;
}

#game{
    display: none;
    transition: opacity 3s;
}

#title{
    width: 10%;
    bottom: 54%;
    left: 13%;
    font-size: 7vh;
    z-index: 0;
}

#newgame,#continue,#select{
    width: 15%;
    bottom: 40%;
    left: 13%;
    font-size: 6vh;
    z-index: 0;
}

#continue{
    bottom: 30%;
}

#select{
    left: 8%;
    pointer-events: none;
}

#version,#credits,#continuenight,#continuetime{
    bottom: -2%;
    left: 1%;
    font-size: 3.5vh;
    z-index: 0;
}

#continuenight{
    left: 13%;
    bottom: 27%;
    display: none;
}

#continuetime{
    left: 13%;
    bottom: 25%;
    font-size:2.5vh;
    display: none;
}

#credits{
    width: 50%;
    left: 48%;
    text-align: right;
}

#menustatic{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 50%;
}

#menucharacter,#menucharacter2{
    position: absolute;
    width: 80%;
    top: -4%;
    left: 30%;
    z-index: -2;
    pointer-events: none;
    filter: invert(1);
}

#menu{
    display: none;
    transition: opacity 3s;
}

#tvstatic{
    transition: opacity 3s;
}

#warning{
    text-align: center;
    width: 25%;
    left: 38%;
    bottom: 50%;
    transition: opacity 3s;
}

#line{
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0;
    background-color: gray;
    z-index: -1;
    opacity: 90%;
    animation: MoveUpDown 30s linear infinite;
}

@keyframes MoveUpDown {
  0% {
    top: -5%;
  }
  100%{
    top: 105%;
  }
}

.lines{
    display: none;
    position: absolute;
    width: 100%;
    height: 2%;
    left: 0;
    top: 3%;
    background-color: gray;
    z-index: -1;
    opacity: 100%;
    animation: lineanim1 10s infinite;
}

@keyframes lineanim1{
    0%,5.9%{
        width: 100%;
    }
    6%,100%{
        width: 0%;
    }
}

#line2{
    top: 25%;
}

#line3{
    top: 80%;
}

#line4{
    top: 60%;
    animation: lineanim2 10s infinite;
}

@keyframes lineanim2{
    0%,5.9%{
        width: 0%;
    }
    6%,12%{
        width: 100%;
    }
    12.1%,60%{
        width: 0%;
    }
    60.1%,63%{
        width: 100%;
    }
    63.1%,100%{
        width: 0%;
    }
}

#line5{
    top: 20%;
    height: 5%;
    animation: lineanim3 10s infinite;
}

#line6{
    top: 30%;
    animation: lineanim3 10s infinite;
}

@keyframes lineanim3{
    0%,12%{
        width: 0%;
    }
    12.1%,20%{
        width: 100%;
    }
    20.1%,32%{
        width: 0%;
    }
    32.1%,36%{
        width: 100%;
    }
    36.1%,100%{
        width: 0%;
    }
}

#line7{
    top: 70%;
    height: 6%;
    animation: lineanim4 10s infinite;
}

@keyframes lineanim4{
    0%,20%{
        width: 0%;
    }
    20.1%,32%{
        width: 100%;
    }
    32.1%,63%{
        width: 0%;
    }
    63.1%,68%{
        width: 100%;
    }
    68.1%,100%{
        width: 0%;
    }
}

#line8{
    top: 3%;
    height: 5%;
    animation: lineanim5 10s infinite;
}

#line9{
    top: 9%;
    animation: lineanim5 10s infinite;
}

@keyframes lineanim5{
    0%,63%{
        width: 0%;
    }
    63.1%,68%{
        width: 100%;
    }
    68.1%,100%{
        width: 0%;
    }
}

#loadscreen{
    display: none;
    position: absolute;
    top: 92%;
    width: 3%;
    left: 94%;
}

#menutime,#menunight,#survived,#survived5,#survived6{
    display: none;
    transition: opacity 3s;
    bottom: 60%;
    left: 35%;
    font-size: 6vh;
    text-align: center;
}

#menunight{
    bottom: 50%;
}

#survived,#survived5,#survived6{
    display: block;
    font-size: 23vh;
    bottom: -91%;
    left: 45%;
}

#survived5,#survived6{
    bottom: -91%;
    left: 30%;
    transition: bottom 8s;
}

#survived6{
    bottom: -185%;
    left: 30%;
}

#survived6div{
    display: none;
    position: absolute;
    height: 20%;
    width: 100%;
    top: 28%;
    left: -3%;
    transition: opacity 3s;
    opacity: 0%;
    overflow: hidden;
}

#usage1,#usage2,#usage3,#usage4{
    position: absolute;
    background: linear-gradient(
        to right,
        #23eb1f 0%,
        #23eb1f 70%,
        #27b723 70%,
        #27b723 100%
    );
    width: 6%;
    height: 35%;
    top: 49%;
    left: 17%;
}

#usage2{
    left: 24%;
    display: none;
}

#usage3{
    display: none;
    background: linear-gradient(
        to right,
        #fff300 0%,
        #fff300 70%,
        #f3870b 70%,
        #f3870b 100%
    );
    left: 31%;
}

#usage4{
    display: none;
    background: linear-gradient(
        to right,
        #ff2323 0%,
        #ff2323 70%,
        #cb0000 70%,
        #cb0000 100%
    );
    left: 38%;
}

#character1,#character2,#character3{
    position: absolute;
    left: 34%;
    top: 13%;
    width: 33%;
    transform: rotate(0deg);
    z-index: 0;
    visibility: hidden;
    filter: grayscale(80%) brightness(0.4);
    pointer-events: none;
}

#character2{
    left: 68%;
    top: 33%;
    width: 31%;
    transform: rotate(0deg);
}

#character3{
    left: 44%;
    top: 18%;
    width: 33%;
}

#pizzabtn{
    position: absolute;
    width: 13%;
    z-index: 3;
    left: 5%;
    top: 70%;
    display: none;
}

#owo{
    position: absolute;
    width: 10%;
    z-index: -1;
    left: 3.5%;
    top: 35%;
    display: none;
    filter: drop-shadow(0 0 0 cyan);
}

#jumpscare{
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 0%;
    top: 0%;
    display: none;
}

#lampleft,#lampright{
    position: absolute;
    width: 1.5%;
    left: 6%;
    top: 27%;
    z-index: -2;
    transition: top 0.5s;
    transition-timing-function: linear;
}

#lampright{
    left: 89%;
}

#freddyboop{
    position: absolute;
    width: 1%;
    height: 3%;
    top: 62%;
    left: 23.6%;
    z-index: 2;
}

#slug{
    position: absolute;
    width: 70%;
    top: -64%;
    left: -25%;
    transform: rotate(30deg) scaleX(-1);
    z-index: 1;
    transition: left 1s, top 1s;
    transition-timing-function: linear;
    filter: brightness(0.7);
}

#ryanoffice,#joeyoffice{
    position: absolute;
    width: 13%;
    top: 35%;
    left: 2%;
    z-index: -2;
    visibility: hidden;
    pointer-events: none;
    display: none;
}

#joeyoffice{
    top: 35%;
    left: 83%;
}

#myVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#skipintro,#mutecall{
    position: absolute;
    top: 92%;
    left: 86%;
    width: 12%;
    z-index: 8;
    opacity: 50%;
    display: none;
}

#skipintro:hover,#mutecall:hover{
    opacity: 100%;
}

#mutecall{
    top: 9%;
    left: 5%;
}

#fire{
    position: absolute;
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 60s;
}

#starpng{
    position: absolute;
    display: none;
    top: 11%;
    left: 36%;
    width: 5%;
}

#starnumber{
    display: none;
    width: 4%;
    bottom: 78%;
    left: 36.5%;
    font-size: 5vh;
    z-index: 1;
    text-align: center;
}

#leftnightbtn,#rightnightbtn{
    position: absolute;
    width: 4%;
    bottom: 14%;
    left: 13%;
    display: none;
    opacity: 90%;
}

#rightnightbtn{
    left: 23.5%;
    transform: scaleX(-1);
}

#leftnightbtn:hover, #rightnightbtn:hover{
    filter: brightness(1.75);
}

#detach-button-host {
    display: none !important;
}

.txt:hover {
    text-decoration: underline;
}

#timescore{
    display: none;
    transition: opacity 3s;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
  }