body {
  overflow: hidden; /* Hide scrollbars */
  color: white;
  background-color: black;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#gamestate{
	display: block;
}

#tiredprcnt{
	position: absolute;
    width: 30%;
    bottom: 7%;
    left: 5%; 
    font-size: 2vh;
    z-index: 9;
    font-family: consolas;
    filter: drop-shadow(0 0 1rem black);
}