body {
  overflow: hidden; /* Hide scrollbars */
  color: white;
  background-color: black;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#gamestate{
	display: block;
}

#tiredprcnt,#powerprcnt{
	position: absolute;
  width: 13%;
  bottom: 7%;
  left: 5%; 
  font-size: 2vh;
  z-index: 9;
  font-family: consolas;
  filter: drop-shadow(0 0 1rem black);
}

#powerprcnt{
  bottom: 17%;
}

#gameboyimg,#gameboychargerimg,#eyeimg{
  position: absolute;
  width: 6%;
  bottom: 10%;
  left: 49%;
}

#eyeimg{
  left: 79%;
  filter: invert(1);
}

#gameboychargerimg{
  width: 6%;
  left: 29%;
}

#gameboytrigger,#gameboychargertrigger,#eyetrigger{
  position: absolute;
  width: 6%;
  height: 18%;
  bottom: 10%;
  left: 49%;
  background-color: transparent;
}

#eyetrigger{
  left: 79%;
  width: 7%;
  height: 13%;
}

#gameboychargertrigger{
  left: 29%;
  width: 7%;
  height: 13%;
}